{% extends 'main.html' %}
{%load static%}


    {% block content %}

  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter">
      <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42215637_2186949314881734_6496153827794747392_n.jpg?_nc_cat=102&oh=cc0e6beaae6ffb4da202a1596b9f6b84&oe=5C18DA58"  style="width:25%">

      <p style="text-align: center; line-height: 0; font-size: 3vw;">Universitas Indonesia</p>
    </div>
    <div class="w3-quarter">
      <img src="https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42227782_2186949361548396_6739025217542160384_n.jpg?_nc_cat=109&oh=5fc44b88d78d068b74264970ae6e8790&oe=5C158CC9"  style="width:25%">

      <p style="text-align: center; line-height: 0; font-size: 3vw;">SMAN 1 KOTA JAMBI</p>
    </div>

</body>
<style>
  body {
    background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42636029_2189676981275634_7601044859159314432_n.jpg?_nc_cat=103&_nc_eui2=AeEJrQqgWsOzTcuhCvgu7jowmD10XVnZ-J_kPeb8h11Y4zrEn5AqAXLT7ssoXfDtl6bp5UIlPiexCQhsDpX2QEG3-yrm7Sp2gwm4u7i85dfzgw&oh=a78fd3a6493c73a1d52581d27abed104&oe=5C58F03A");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500;
    width: 100%;
}
    {% endblock %}