<!DOCTYPE html>
{% load static %}
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>nathasyadn</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

</head>
<body>

<div class="w3-fixed-top">
  <div class="w3-bar w3-black w3-card">
    <div class="nav justify-content-end">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large">● HOME   </a>
    <a href="{% url 'education' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">● EDUCATION  </a>
        <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">● PROFILE  </a>
          <a href="{% url 'regist' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">● REGISTER  </a>
           <a href="{% url 'fillact' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">● SCHEDULE  </a>
            <a href="{% url 'showact' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">● BOOK ME  </a>
    <div class="w3-dropdown-hover w3-hide-small">

    </div>
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>
</div>
</body>

    {% block content %}
    {% endblock %}
</html>