{% extends 'main.html' %}
{%load static%}


    {% block content %}
<style>

.column {
    float: left;
    width: 50%;
    padding: 50px;
    height: 290px;
}


</style>
</head>
<body>
  <div class="column " >
      <div class="w3-third">
        <img src="
https://scontent.fcgk4-2.fna.fbcdn.net/v/t1.0-9/42246743_2186949374881728_5659196123508637696_n.jpg?_nc_cat=107&oh=559f115fcf1f40345fbde28778e9c812&oe=5C18E848" class="w3-round w3-margin-bottom" style="width:38%">
      </div>
  </div>

  

  <div class="column" >
<h2 style="text-align: right; font-size: 2vw;" >__________________</h2>
<p style=" text-align: right;  font-weight: bold; font-size: 2vw;
}">HELLO!</p>
<p style=" text-align: right; font-weight: bold; font-size: 2vw;
}">MY NAME IS NATASYA MEIDIANA</p> 
<p style=" text-align: right; font-weight: bold; font-size: 2vw;
}">AKHDA</p>
<h2 style="text-align: right; font-size: 2vw;" >__________________</h2>
  </div>
  <div class="column" >
<p style=" font-size: 1.5vw">Hello my name is Natasya Meidiana Akhda. I was</p>
<p style=" font-size: 1.5vw">born in Jambi, 9 May 1999. My hobby is dancing,</p> 
<p style=" font-size: 1.5vw">listening to the music, and travelling. </p>
  </div>
</div>
</body>
<style>
  body {
    background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42636029_2189676981275634_7601044859159314432_n.jpg?_nc_cat=103&_nc_eui2=AeEJrQqgWsOzTcuhCvgu7jowmD10XVnZ-J_kPeb8h11Y4zrEn5AqAXLT7ssoXfDtl6bp5UIlPiexCQhsDpX2QEG3-yrm7Sp2gwm4u7i85dfzgw&oh=a78fd3a6493c73a1d52581d27abed104&oe=5C58F03A");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500;
    width: 100%;
}
    {% endblock %}