{% extends 'main.html' %}
{%load static%}


    {% block content %}
  <h2 style="text-align: center; font-size: 18px; line-height: 3;" >THANK YOU FOR VISIT OUR WEBSITE!</h2>
  <form>
        <div class="form-group col-md-6">
      <label for="inputName">Name</label>
      <input type="inputName" class="form-control" id="inputName" placeholder="Full Name">
    </div>
        <div class="form-group col-md-6">
      <label for="inputUsername">Username</label>
      <input type="inputUsername" class="form-control" id="inputUsername" placeholder="@">
    </div>
    <div class="form-group col-md-6">
      <label for="inputDate">Birth Date</label>
      <input type="date" class="form-control" id="inputDate">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
    </div>
  </div>
      <div class="form-group col-md-6">
      <label for="inputConfirmationPassword4">Confirmation Password</label>
      <input type="password" class="form-control" id="inputCpnfirmationPassword4" placeholder="Confirmation Password">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">submit</button>
</form>
</body>

<style>
  body {
    background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42636029_2189676981275634_7601044859159314432_n.jpg?_nc_cat=103&_nc_eui2=AeEJrQqgWsOzTcuhCvgu7jowmD10XVnZ-J_kPeb8h11Y4zrEn5AqAXLT7ssoXfDtl6bp5UIlPiexCQhsDpX2QEG3-yrm7Sp2gwm4u7i85dfzgw&oh=a78fd3a6493c73a1d52581d27abed104&oe=5C58F03A");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500;
    width: 100%;
}
</style>
    {% endblock %}