{% extends 'main.html' %}
{% load static %}
{% block content %}

<style>

  body {
    background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42636029_2189676981275634_7601044859159314432_n.jpg?_nc_cat=103&_nc_eui2=AeEJrQqgWsOzTcuhCvgu7jowmD10XVnZ-J_kPeb8h11Y4zrEn5AqAXLT7ssoXfDtl6bp5UIlPiexCQhsDpX2QEG3-yrm7Sp2gwm4u7i85dfzgw&oh=a78fd3a6493c73a1d52581d27abed104&oe=5C58F03A");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500;
    width: 100%;
}
</style>

  <h2 style="text-align: center; font-size: 18px; line-height: 3;" >SCHEDULE LIST</h2>
<section class = "result">
    <table class = "table">
        <thead>
            <th>Date</th>
            <th>Acticity</th>
            <th>Location</th>
            <th>Category</th>
        </thead>
        <tbody>
                {% for i in jadwal %}
            <tr>
                <td>{{i.date}}</td>
                <td>{{i.activity}}</td>
                <td>{{i.location}}</td>
                <td>{{i.category}}</td>
            </tr>
                {% endfor %}
        </tbody>
    </table>
    <form id ="" action="delete">
            <div class = "submit-btn">
                <input id="submit"type="submit"class="btn btn-dangery"value="Delete All">
            </div>
        </form>


    {% endblock %}
