body {
    background-image: url("https://scontent-sit4-1.xx.fbcdn.net/v/t1.0-9/42636029_2189676981275634_7601044859159314432_n.jpg?_nc_cat=103&_nc_eui2=AeEJrQqgWsOzTcuhCvgu7jowmD10XVnZ-J_kPeb8h11Y4zrEn5AqAXLT7ssoXfDtl6bp5UIlPiexCQhsDpX2QEG3-yrm7Sp2gwm4u7i85dfzgw&oh=a78fd3a6493c73a1d52581d27abed104&oe=5C58F03A");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 500;
    width: 100%;
}
p{color: #000000; line-height: 2; font-size: 18px; font-family: Body, Calibri}

.column {
    float: left;
    width: 35%;
    padding: 50px;
    height: 200px; 
}






